@import url("/static/S-Core-Dream-light/s-core-dream.css");

.btn_teacher {
    /* border-color: rgb(0, 112, 192); */
    color: rgb(255, 255, 255);
    box-shadow: 0 0 40px 40px rgba(0, 112, 192, 0.7) inset, 0 0 0 0 rgba(0, 112, 192, 0.7);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    justify-content: center;
    align-items: center;
  }
  .btn_teacher:hover {
    box-shadow: 0 0 10px 0 rgba(0, 112, 192, 0.7) inset, 0 0 10px 4px rgba(0, 112, 192, 0.7);
    color: rgb(95, 34, 206);
  }

  .btn_student {
    border-color: rgb(72, 211, 139);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 40px 40px rgb(72, 211, 139) inset, 0 0 0 0 rgb(72, 211, 139);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    justify-content: center;
    align-items: center;
  }
  .btn_student:hover {
    box-shadow: 0 0 10px 0 rgb(72, 211, 139) inset, 0 0 10px 4px rgb(72, 211, 139);
    color: rgb(95, 34, 206);
  }
