@import url("/static/S-Core-Dream-light/s-core-dream.css");

.btn_teacher {
    border-color: rgb(7, 86, 143);
    color: rgb(95, 34, 206);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    justify-content: center;
    align-items: center;
  }
  .btn_teacher:hover {
    box-shadow: 0 0 10px 0 rgb(7, 86, 143) inset, 0 0 10px 4px rgb(7, 86, 143);
    color: rgb(95, 34, 206);
  }

  .btn_student {
    border-color: rgb(43, 155, 97);
    color: rgb(95, 34, 206);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    justify-content: center;
    align-items: center;
  }
  .btn_student:hover {
    box-shadow: 0 0 10px 0 rgb(43, 155, 97) inset, 0 0 10px 4px rgb(43, 155, 97);
    color: rgb(95, 34, 206);
  }