body, h1, h2, h3, h5, div {
  margin: 0px;
}

body {
  background-color: #fafafa;
  /* background-image: url('new1.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  font-family: s-core-dream-light;
  font-size: 35px;
  /* font-color: #4e4e4e; */
}

.head_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.head_container2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

#inputText {
  width: 550px;
  height: 410px;
  filter: opacity(80%);
  border-radius: 5px;
  border: 1px;
  overflow-y: auto;
  font-size: 20px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
}

#subtitle {
  width: 550px;
  height: 410px;
  filter: opacity(80%);
  border-radius: 50px;
  border: 1px;
}

#resultWindow {
  width: 550px;
  height: 410px;
  filter: opacity(80%);
  border-radius: 5px;
  border: 1px;
  overflow-y: auto;
  font-size: 20px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
}

.resultWindowLong {
  font-size: 20px;
}

.test

.byte_container {
  font-size: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0px;
}

.btn_container {
  width: 80%;
  display: flex;
  justify-content: center;
  border-radius: 530px;
  filter: opacity(100%);
}

#title_print {
  font-size: 25px;
}

.items_h_container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 530px;
  filter: opacity(100%);
}

.keyword_container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  font-family: 'NanumSquareRound', sans-serif;
}

#result_list {
  width: 600px;
  height: 100px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
}

.title_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  border-radius: 530px;
  filter: opacity(100%);
  font-size: 25px;
  margin-right: 5%;
}

.testlet_name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  border-radius: 530px;
  filter: opacity(100%);
  font-size: 25px;
  margin-right: 5%;
}

.testlet_name .title_t {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  color: rgb(0, 0, 0);
  border-style: solid;
  border-color: rgb(153, 51, 255);
  position: relative;
  height: 110px;
  width: 550px;
  cursor: pointer;
  transition: 300ms ease all;
  outline: none;
  filter: opacity(100%);
  border-radius: 100px;
  font-size: 25px;
  }

  .testlet_name .title_s {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    color: rgb(0, 0, 0);
    border-style: solid;
    border-color: rgb(72, 211, 139);
    position: relative;
    height: 110px;
    width: 550px;
    cursor: pointer;
    transition: 300ms ease all;
    outline: none;
    filter: opacity(100%);
    border-radius: 100px;
    font-size: 25px;
    }

button {
  background: #ffffff;
  color: #fff;
  border: none;
  position: relative;
  height: 100px;
  width: 550px;
  font-size: 1em;
  padding: 0 2em;
  cursor: pointer;
  transition: 300ms ease all;
  outline: none;
  filter: opacity(100%);
  border-radius: 510px;
}

textarea {
z-index: 1;
}

.wrap-loading {
  z-index: 2;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 1);
  /*not in ie */
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000', endColorstr='#20000000');
  /* ie */
}

#wrap-loading-green {
  z-index: 3;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(101, 240, 195);
  /*not in ie */
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000', endColorstr='#20000000');
  /* ie */
}

.wrap-loading div {
  /*로딩 이미지*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-none {
  /*감추기*/
  display: none;
}

.item_area_70 {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 150px;
}

.item_area_100 {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 150px;
}

.item-wrap .items {
  /* 자식들을 감싸고 있는 부모 */
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* flex container를 만들어주는 속성 */
  justify-content: space-between;
  /* 행 정렬 하는 속성, 영역 간 공백을 만들어주는 속성 */
  height: 150px;
}

.guide {
  /* 자식들을 감싸고 있는 부모 */
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* flex container를 만들어주는 속성 */
  justify-content: space-between;
  /* 행 정렬 하는 속성, 영역 간 공백을 만들어주는 속성 */
  max-width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  height: 50px;
}

.guide2 {
  /* 자식들을 감싸고 있는 부모 */
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* flex container를 만들어주는 속성 */
  justify-content: space-around;
  /* 행 정렬 하는 속성, 영역 간 공백을 만들어주는 속성 */
  max-width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  height: 50px;
}
