<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATLAS; Automated Teacher-Learner Anchoring System</title>
    <link rel="stylesheet" href="/static/style.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/atlas_start.js"></script>
</head>
<body>
    <div class="wrap-loading">
        <div>
             <video muted autoplay loop>
                  <source src="../static/atlas.mp4" type="video/mp4">
             </video>
        </div>
    </div>
</html>
