<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATLAS; Automated Teacher-Learner Anchoring System</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/btn_colors.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/grades.js"></script>
</head>

<body>
    <div class="wrap-loading display-none">
        <div>
            <video muted autoplay loop>
                  <source src="../static/loading.mp4" type="video/mp4">
             </video>
        </div>
    </div>

    <div class="head_container">
        학생들의 성적을 확인하세요.
    </div>
    <div class="head_container2">
        하단 버튼으로 해당 작업을 수행할 수 있습니다.
    </div>

    <div style="margin-top: 100px;">
        <span>
            <div class="resultWindowLong" style="border: 4px solid rgba(0, 112, 192, 0.7); height: 390px; width: 64%; padding: 10px; margin-left: 18%; margin-right: 18%; ">여기에 학생별 성적이 출력됨.</div>
        </span>
    </div>

    <span class="guide" style="margin-top: 60px; ">
            <div class="btn_container" >
                <button class="btn_teacher" onclick="homebtn()">
                    <font size=6>키워드 추출로</font>
                </button>
            </div>

            <div class="btn_container">
                <button class="btn_teacher" onclick="listbtn()">
                    <font size=6>문제지 목록으로</font>
                </button>
            </div>
    </span>

    <a href="http://127.0.0.1:5000/pageSelect" target=_self><img src="../static/small_logo_pivot.png" width="105px" height="127px" align="right" style="margin-top: 10px;"></a>

</body>
</html>