<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATLAS; Automated Teacher-Learner Anchoring System</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/btn_colors.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/home.js"></script>
</head>

<body>
    <div class="wrap-loading display-none" id="wrap-loading-green">
        <div>
            <video height="940px;" muted autoplay loop>
                  <source src="../static/loading.mp4" type="video/mp4">
             </video>
        </div>
    </div>

    <div class="head_container">
        ATLAS 인공지능이 키워드를 추출합니다.
    </div>
    <div class="head_container2">
        아래 좌측 박스에 원문을 삽입하세요.
    </div>

    <span class="guide">
        <div class="items_h_container" style="margin-top: 50px; ">
            <div class="leftitem" style="margin-right: 56px;" overflow: auto;>
                <textarea id="inputText" type="text" placeholder="입력제한: 한글 300~1500자" style="width: 550px; height: 410px;" onChange="checkByte(this)"></textarea>
            </div>

            <div class='rightitem' style="margin-left: 60px;">
                <table id="resultWindow" type="text" onkeyup="checkByte(this)" style="text-align: center;">
                </table>
            </div>
        </div>
    </span>

    <span class="guide" style="width: 550px; ">
        <div class="btn_container" style="font-size: 15px;">
            <span class="byte_container" style="margin-top: 370px; margin-right: 120px;">
                <span id="nowByte" style="color: green;padding-right: 3px;">
                </span>
                / 3000 bytes
            </span>
        </div>
    </span>

    <span class="guide" style="margin-top: 378px; ">
        <div class="btn_container">
            <button class="btn_teacher" style="width: 320px; padding: 10px;" onclick="btnClick()">
                <font size=6>키워드 추출</font>
            </button>
        </div>

        <div class="btn_container">
            <button class="btn_teacher" style="width: 320px; padding: 10px;" onclick="btnClick2()">
                <font size=6>평가문항 생성</font>
            </button>
        </div>

        <div class="btn_container">
            <button class="btn_teacher" style="width: 320px; padding: 10px;" onclick="listbtn()">
                <font size=6>문제지 목록으로</font>
            </button>
        </div>

        <div class="btn_container">
            <button class="btn_teacher" style="width: 320px; " onclick="gradebtn()">
                <font size=6>성적 확인</font>
            </button>
        </div>
    </span>
    
    <a href="http://127.0.0.1:5000/pageSelect" target=_self><img src="../static/small_logo_pivot.png" width="105px" height="127px" style="margin-left: 1815px; padding-top: 0px;"></a>

</body>

</html>
