<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATLAS; Automated Teacher-Learner Anchoring System</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/pageSelect.js"></script>
</head>
<body>

    <div class="guide">
        <div class="head_container">방문하고 싶은 페이지를 눌러 보세요.<br> 
        </div>
    </div>

    <div class="item-wrap" style="margin-top: 0px;">
        <div class="items" style="margin: 0px;style=;padding-top: 240px;">
            <div class="item left">
                <div class="inner" style="height: 75px; ">
                    <span class="btn_container" >

                        <button src="../static/teacher.png" width="500px", height="130px" id="btnclk" onclick="btnclk()">
                    </span>
                </div>
            </div>

            <div class="item right">
                <div class="inner" style="height: 75px; ">
                    <span class="btn_container">
                        <img src="../static/student.png" width="500px", height="130px">
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>