<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATLAS; Automated Teacher-Learner Anchoring System</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/btn_colors.css" />
    <link rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/quiz_s.js"></script>
</head>

<a>
    <div class="head_container">
        선생님과 ATLAS 인공지능의 콜라보로 탄생한 문제들이에요.
    </div>

    <span class="guide" style="margin-top: 60px; ">
        <div class="btn_container" style="margin-left: 235px; ">
            <span class="title_container">
                <div class="testlet_name" id="testlet_name" style="border: 4px solid rgb(72, 211, 139); height: 40px; width: 100%; padding: 10px;">문제지 이름</div>
            </span>
        </div>

        <div class="btn_container" style="margin-right: 235px;">
            열심히 풀어봐요! 아자아자!
        </div>
    </span>

    <div style="margin-top: 66px;">
        <span>
            <table class="testlet_title_s">
                <div class="resultWindowLong" id="list" style="border: 4px solid rgb(72, 211, 139); height: 390px; width: 64%; padding: 10px; margin-left: 18%; margin-right: 18%;">여기에 ATLAS 인공지능이 생성한 이해점검 문항이 출력됨.</div>
            </table>
        </span>
    </div>

    <span class="guide" style="background-color: rgb(250,250,250); margin-top: 60px;  margin-left: 16%;">
        <!-- <div class="btn_container">
            <div class="testlet_name" style="border: 4px solid rgb(72, 211, 139); height: 70px; width: 100%; padding: 10px;">
                <textarea id="title_print" type="text" style="font-size: 25px; width: 250px; height: 65px; border: none; outline: none; shadow: none; resize: none; " placeholder="답안을 입력하세요."></textarea>
            </div>
        </div> -->

        <div class="btn_container">
            <button class="btn_student" style="width: 380px; padding: 10px;" onclick="saveanswerbtn()">
                <font size=6>답안 제출</font>
            </button>
        </div>

        <div class="btn_container">
            <button class="btn_student" id="title_print" style="width: 380px; padding: 10px;" onclick="downloadbtn()">
                <font size=6>문제지 다운로드</font>
            </button>
        </div>

        <div class="btn_container">
            <button class="btn_student" style="width: 380px; padding: 10px;" onclick="studentClick()">
                 <font size=6>문제지 목록으로</font>
            </button>
        </div>
    </span>

    <a href="http://127.0.0.1:5000/pageSelect" target=_self><img src="../static/small_logo_pivot.png" width="105px" height="127px" style="margin-left: 1815px; padding-top: 0px;"></a>

</body>

</html>
