<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATLAS; Automated Teacher-Learner Anchoring System</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/btn_colors.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="guide">
        <div class="head_container" >선생님께서 만들어 놓으신 문제지에요.<br><br>
            아래 버튼을 눌러서 문제를 풀어볼까요?
        </div>

        <div class="item-wrap" style="margin-top: 0px;">
            <div class="items" style="margin: 0px;style=;padding-top: 0px;height:20px;">
                <div class="item left">
                    <div class="inner" style="height: 35px; ">
                        <span class="testlet_name"></span>
                    </div>
                </div>

                <div class="item right">
                    <div class="inner" style="height: 35px; ">
                        <span class="btn_container"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="item-wrap" style="margin-top: 20px;">
            <div class="items">
                <div class="item left">
                    <span>
                        <div style="border: 4px solid rgb(0, 112, 192); height: 390px; width: 1150px; padding: 10px;">여기에 학생별 성적이 출력됨.</div>
                    </span>
                </div>
            </div>
        </div>

        <div class="item-wrap" style="margin-top: 10px;">
            <div class="items" style="margin: 0px;style=;padding-top: 300px; height: 50px;">
                <div class="item left">
                    <div class="inner" style="height: 75px; ">
                        <span class="btn_container">
                            <button class="btn_darkblue" onclick="btnClick()">
                                <font size=6>문제 풀기</font>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="item right">
                    <div class="inner" style="height: 75px; ">
                        <span class="btn_container">
                            <button class="btn_darkblue" onclick="btnClick()">
                                <font size=6>점수 확인</font>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img src="../static/small_logo_pivot.png" width="90px" height="105px" style="margin-left: 1643px;">

</body>
</html>